@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

*{
    box-sizing: border-box;
}

html, body, main{
    height: 100%;
}

body{
    background-color: #ebfffb;
    font-family: "Roboto", sans-serif;
    margin: 0;

}

main{
    /* display: flex;
    flex-wrap: wrap; */
}

/* MAIN SCREEN */
.profile-cards-container{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-card{
    background-color: #b9f6ca;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 400px;
    text-align: center;
    cursor: pointer;
}

.profile-card img{
    width: 100%;
}

.profile-card-picture{
    background-color: #ebfffb;
    max-width: 400px;
    max-height: 225px;
    min-width: 400px;
    min-height: 255px;
}

.profile-card h3{
    margin-top: 0;
}

.profile-card-name{
    color: #000000;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.profile-card-add{
    background-color: #b9f6ca;
    border-radius: 50%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    text-align: center;
    padding: 3rem;
    cursor: pointer;
}

.profile-add-btn{
    background-color: transparent;
    border:none;
    color: #87c197;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* DASHBOARD */

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.column{
    display: flex;
    /* flex-direction: column; */
    /* flex-basis: 100%; */
    flex: 1;
    height: 100%;
}

.dashboard{
    height: 100%;
}

/* PROFILE PANEL */

.profile-panel{
    background: rgb(235,255,251);
    background: linear-gradient(270deg, rgba(235,255,251,1) 0%, rgba(185,246,202,1) 35%, rgba(135,193,151,1) 100%); 
    display: flex;
    flex-direction: column;
    background-color: #87c197;
    height: 100%;
    min-width: 30%;
    padding-top: 5rem;
}

.profile-tab{
    display: flex;;
    justify-content: left;
    margin-top: 1rem;
}

.profile-tab-picture{
    cursor: pointer;
    margin-left: 1rem;
}
.profile-tab-add-btn{
    background-color: transparent;
    color: #ebfffb;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    margin-left: 2rem;
}

/* PROFILE WINDOW */

.profile-window{
    background: rgba(0,0,0,.4);
    display: none;
    height:100%;
    position: fixed;
    text-align:center;
    top: 0;
    width: 100%;
    z-index:10000;
}

.profile-window .popup-container{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.profile-window .popup-content{
    border-radius: 10px;
}

.profile-window .title{
    background-color: #87c197;
    color: #ebfffb;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 5px 5px 0 0;
}

.profile-window .animal-profile{
    background-color: #ebfffb;
    color: #000;
    overflow: hidden;
    width: 100%;
    padding:0.5rem;
    text-align: left;
    display:grid;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    grid-template-columns: 60% 40%;
}

.profile-window .right{
    text-align: center;
}

.profile-window .select-picture{
    background-color: transparent;
    border: 1px solid #87c197;
    height: 100%;
    width: 60%;
    max-height: 185px;
    cursor: pointer;
}

.profile-window img{
    max-width: 130px;
    max-height: 130px;
}

.profile-window input[type="text"], input[type="date"]{
    width: 100%;
    margin-bottom: 1rem;
    min-height: 2rem;
}

.profile-window fieldset{
    border: 1px solid #87c197;
    margin-bottom: 1rem;
}

.profile-window .toolbar{
    background-color: #87c197;
    /* color:#ebe5e2; */
    display:flex;
    justify-content: flex-end;
    padding: 0.5rem;
    border-radius: 0 0 5px 5px;
}

.profile-window .toolbar button{
    background-color: transparent;
    border: none;
    color: #ebfffb;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.profile-window > div{
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    position: relative;
    vertical-align: middle;
    max-width: 551px;
    min-height: 100px;
    width: 60%;
    height: auto;
}